.main-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

.content-area {
    grid-column: 2 / 5;
    margin: 0 auto;
    text-align: center;
}